body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    width: 100%;
    padding-top: 50px;

    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
    height: 70px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;

    width: 500px;
    margin: 0;
    padding: 0;
}

.site-navigation a,
.user-navigation a {
    display: block;
    padding: 20px;

    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.site-navigation .link-current {
    position: relative;
}

.site-navigation .link-current::after {
    content: "";

    position: absolute;
    right: 20px;
    bottom: 15px;

    width: 74px;
    height: 2px;

    background-color: #fb565a;
}

.user-navigation {
    display: flex;
    max-width: 125px;
    margin: 0;
    padding: 0;
}

.user-navigation a {
    position: relative;
    padding-left: 50px;
}

.user-navigation a::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 10px;
    
    width: 15px;
    height: 15px;

    background-image: url("img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.slider {
    position: relative;
    width: 100%;
    margin-bottom: 80px;

    background-color: #eeeeee;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-list-item {
    display: none;
    padding: 78px 0 80px;
}

.slider-list-item:nth-child(1) {
    background-image: url("img/bg-slide-1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-list-item:nth-child(2) {
    background-image: url("img/bg-slide-2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-list-item:nth-child(3) {
    background-image: url("img/bg-slide-3.png");
    background-repeat: no-repeat;
    background-position: 100% 18px;
}

.current-slide {
    display: block;
}

.slide-title {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slide-description {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 95px;
    z-index: 100;

    display: flex;
    justify-content: space-between;

    width: 90px;
    height: 18px;

    padding: 0;
    margin: 0;
    transform: translateX(-50%);
}

.slider-controls-button {
    position: relative;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #ffffff;

}

.slider-controls-button-current::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: 50%;

    width: 4px;
    height: 4px;
    margin: -4px;

    border-radius: 50%;
    border: 2px solid #c1c1c1;
    background-color: #ffffff;
}


.button {
    display: block;
    padding: 15px 0;

    font: inherit;
    
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
}

.slide-button {
    width: 240px;
}

.service-button {
    width: 160px;
}

.contacts-button {
    width: 220px;
    margin-top: 35px;
}

.services {
    margin-bottom: 80px;
    
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-right: 60px;

    list-style: none;
}

.service-item {
    padding-top: 154px;
    width: 300px;
}

.service-item:first-child {
    background-image: url("img/main-websites.png");
    background-size: 300px 146px;
    background-repeat: no-repeat;
    background-position: top center;
}

.service-item:nth-child(2) {
    background-image: url("img/main-applications.png");
    background-size: 300px 146px;
    background-repeat: no-repeat;
    background-position: top center;
}

.service-item:last-child {
    background-image: url("img/main-presentations.png");
    background-size: 300px 146px;
    background-repeat: no-repeat;
    background-position: top center;
}

.service-item h3 {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;

    font-weight: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.service-item p {
    margin: 0;
    margin-bottom: 16px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.about {
    width: 660px;
    padding-top: 75px;
}

.about b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-description {
    margin-top: 30px;
    margin-bottom: 35px;
}

.about-list-title {
    margin: 0;
    margin-bottom: 24px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.about-list {
    padding: 0;
    margin: 0;
}

.about-item {
    position: relative;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    padding-left: 37px;
    list-style-type: none;
}

.about-item::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.company-statistics {
    width: 360px;
    padding-top: 40px;
}

.company-statistics-logo {
    margin: 0;
    margin-bottom: 35px;
    width: 360px;
    height: 208px;
}

.company-statistics-heading {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.indicators-list {
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.indicator-item {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.indicators-list dd {
    margin-left: 0;
    margin-bottom: 22px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000;
}

.indicators-list sup {
    font-size: 28px;
    font-weight: 500;
}

.indicators-list dt {
    order: 1;
    line-height: 18px;
    text-align: left;
}

.companies {
    margin-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}

.companies-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding-top: 50px;
    padding-bottom: 44px;

    list-style: none;
}

.company-item {
    position: relative;
    width: 260px;
}

.company-item:not(:nth-child(4))::after {
    content: "";

    position: absolute;
    right: 15px;
    bottom: 50%;

    width: 2px;
    height: 52px;

    transform: translateY(50%);
    background-color: #eeeeee;
}

.company-item img {
    max-width: 210px;
}

.company-link {
    opacity: 0.2;
}

.company-link:hover,
.company-link:focus {
    opacity: 1;
}

.company-link:active {
    opacity: 0.1;
}

.map-contacts .content-wrapper {
    position: relative;
}

.map {
    height: 416px;
    overflow: hidden;
}

.map img {
    display: block;
    width: 100%;
    height: 416px;
    object-fit: cover;
}

.contacts {
    position: absolute;
    left: 20px;
    bottom: 50px;
    z-index: 100;

    box-sizing: border-box;
    width: 318px;
    min-height: 310px;

    padding: 48px;
    padding-left: 50px;

    background-color: #ffffff;
}

.contacts-title {
    margin: 0;
    margin-bottom: 24px;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.contacts-text {
    line-height: 18px;
    color: #666666;
}

.contacts-link {
    color: #666666;
}

.footer-social {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

.social-links {
    width: 260px;
    margin-right: 135px;

    text-align: center;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-list li {
    width: 80px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;

    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
}

.social-button:active path {
    fill-opacity: 0.3;
}

.social-offer {
    width: 580px;
}

.social-offer b{
    display: block;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.social-offer p {
    margin: 0;
    color: #444444;
    line-height: 22px;
}

.modal-form h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.form-feedback input,
.form-feedback textarea {
    font: inherit;
    
    color: rgba(68, 68, 68, 0.5);
    background-color: transparent;
    border: 2px solid #d7dcde;
}

.form-feedback input::placeholder,
.form-feedback textarea::placeholder {
    color: rgba(68, 68, 68, 0.5);
}

.form-feedback input:hover,
.form-feedback textarea:hover {
    border-color: #b4b9bb;
}

.form-feedback input:focus,
.form-feedback textarea:focus {
    color: #444444;
    border-color: #000000;
}

.form-feedback input:focus::placeholder,
.form-feedback textarea:focus::placeholder {
    color: #444444;
}

.form-feedback input:invalid,
.form-feedback textarea:invalid {
    border-color: #e74246;
    color: #e74246;
}

.form-feedback input:invalid::placeholder,
.form-feedback textarea:invalid::placeholder {
    color: #e74246;
}

.form-feedback label {
    line-height: 18px;
    font-weight: bold;
    color: #000000;
}

/* Стили для страницы каталога */

.page-title-wrapper {
    width: 100%;
    margin-bottom: 55px;

    background-color: #eeeeee;
}

.page-title {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 110px;
    margin: 0 auto;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;

    text-align: center;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.filters {
    width: 260px;
}

.filters fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    border: none;
}

.filters fieldset:first-child {
    margin-bottom: 49px;
}

.filters legend {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.filters .price-legend {
    letter-spacing: 1px;
}

.price-filter {
    width: 260px;
    margin-top: 29px;
}

.filter-range {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #eeeeee;

    border-radius: 5px;
}

.filter-range-scale {
    height: 2px;

    background-color: #d7dcde;
}

.filter-range-bar {
    width: 70%;
    height: 2px;

    background-color: #00ca74;
}

.range-handle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-handle-min {
    left: 18px;
}

.range-handle-max {
    left: 160px;
}

.price-filter-interval {
    font-size: 0;
}

.price-filter-interval label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.price-filter-interval input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    text-align: center;

    border: none;
    color: #283136;
    border-radius: 5px;
    background-color: #eeeeee;
}

.price-filter-interval .max-price {
    text-align: right;
}


.filters ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-option {
    margin-bottom: 20px;
    padding-left: 36px;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #283136;

    opacity: 0.3;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    left: -36px;
    top: 0;

    width: 23px;
    height: 23px;

    background-image: url("img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    left: -36px;
    top: 0;

    width: 27px;
    height: 23px;

    background-image: url("img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    left: -36px;
    top: -1px;

    width: 25px;
    height: 25px;

    background-image: url("img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    left: -36px;
    top: -1px;

    width: 25px;
    height: 25px;

    background-image: url("img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-button {
    width: 100%;

    color: #000000;
    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
}

.catalog {
    width: 760px;
}

.catalog-header {
    display: flex;
    margin-bottom: 95px;
}

.catalog-title {
    margin: 0;
    padding: 0;
    width: 360px;
    margin-right: 40px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.sort-type-list,
.sort-direction-list {
    list-style: none;
    line-height: 20px;
}

.sort-type-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 280px;

}

.sort-direction-list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 60px;
    margin-left: auto;
}

.sort-direction-item {
    margin-right: 18px;
}

.sort-direction-item:last-child {
    margin-right: 0;
}

.sort-type-link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.sort-type-link:hover,
.sort-type-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-type-link:active,
.sort-type-current {
    color: #000000;
}

.sort-direction-link path {
    fill: rgba(0, 0, 0, 0.3);
}

.sort-direction-link:hover path,
.sort-direction-link:focus path {
    fill: rgba(0, 0, 0, 0.6);
}

.sort-direction-link:active path,
.sort-direction-current path {
    fill: #000000;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    list-style: none;
}

.catalog-item {
    position: relative;
    
    width: 360px;
    height: 576px;
    padding-top: 40px;
    margin-bottom: 30px;

    border: 1px solid rgba(68, 68, 68, 0.12);
    border-radius: 5px 5px 0 0;
}

.catalog-item img {
    display: block;
    width: 100%;
    height: 576px;
    margin: 0;
    object-fit: cover;
}

.catalog-item::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 360px;
    height: 40px;

    background-image: url("img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.12;
}

.catalog-item:hover::before {
    opacity: 1;
}

.catalog-item-description {
    display: none;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 360px;
    height: 232px;

    background-color: #eeeeee;
}

.catalog-item:hover .catalog-item-description {
    display: block;
}

.catalog-item-description h3 {
    margin-top: 27px;
    margin-bottom: 17px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.catalog-item-title {
    color: #000000;
}

.catalog-item-description p {
    max-width: 240px;
    margin: 0 auto;

    line-height: 18px;
    text-align: center;
    color: #666666;
}

.catalog-item-button,
.catalog-item-button:active {
    color: #ffffff;
}

.catalog-item-button {
    margin: 30px auto 44px;
    width: 200px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-item {
    margin-right: 12px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    padding: 15px 20px;
    border-radius: 3px;

    line-height: 18px;
    color: #000000;
    
    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 #bfbfbf;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus {
    padding: 12px 17px;
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}


