body {
    min-width: 1200px;
    min-height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.content-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header {
    width: 100%;

    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
    height: 70px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.site-navigation {
    width: 500px;
    margin: 0;
    padding: 0;
}

.user-navigation {
    width: 125px;
    margin: 0;
    padding: 0;
}

.slider {
    width: 100%;
    margin-bottom: 80px;

    background-color: #eeeeee;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-list-item {
    display: flex;
}

.slide-content {
    width: 382px;
}

.slide-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.button {
    font: inherit;
    
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    background-color: #fb565a;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
}

.services {
    margin-bottom: 35px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-right: 60px;

    list-style: none;
}

.service-item {
    width: 300px;
}

.service-item h3 {
    font-weight: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.about {
    width: 660px;
}

.about b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.about-list-title {
    color: #000000;
    font-weight: 700;
}

.about-item {
    list-style-type: none;
}

.company-statistics {
    width: 370px;
}

.company-statistics b {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.indicators-list dd {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000;
}

.indicators-list sup {
    font-weight: 500;
}

.indicators-list dt {
    line-height: 18px;
}

.companies {
    margin-bottom: 80px;
}

.companies-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.company-item {
    width: 260px;
}

.company-link {
    opacity: 0.2;
}

.company-link:hover,
.company-link:focus {
    opacity: 1;
}

.company-link:active {
    opacity: 0.1;
}

.map {
    height: 416px;
    margin: 0 auto;
}

.map img {
    display: block;
    width: 100%;
    height: 416px;
    object-fit: cover;
}

.contacts {
    width: 318px;
    min-height: 310px;

    padding: 48px;
    padding-left: 50px;
}

.contacts-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.contacts-text {
    line-height: 18px;
    color: #666666;
}

.contacts-link {
    color: #666666;
}

.footer-social {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
}

.social-links {
    width: 260px;
    margin-right: 135px;

    text-align: center;
}

.social-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-list li {
    width: 80px;
}

.social-button {
    color: #ffffff;
    background-color: #e1e1e1;
}

.social-offer {
    width: 580px;
}

.social-offer b{
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.social-offer p {
    color: #444444;
    line-height: 22px;
}

.modal-form h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.form-feedback input,
.form-feedback textarea {
    font: inherit;
    
    color: rgba(68, 68, 68, 0.5);
    background-color: transparent;
    border: 2px solid #d7dcde;
}

.form-feedback input::placeholder,
.form-feedback textarea::placeholder {
    color: rgba(68, 68, 68, 0.5);
}

.form-feedback input:hover,
.form-feedback textarea:hover {
    border-color: #b4b9bb;
}

.form-feedback input:focus,
.form-feedback textarea:focus {
    color: #444444;
    border-color: #000000;
}

.form-feedback input:focus::placeholder,
.form-feedback textarea:focus::placeholder {
    color: #444444;
}

.form-feedback input:invalid,
.form-feedback textarea:invalid {
    border-color: #e74246;
    color: #e74246;
}

.form-feedback input:invalid::placeholder,
.form-feedback textarea:invalid::placeholder {
    color: #e74246;
}

.form-feedback label {
    line-height: 18px;
    font-weight: bold;
    color: #000000;
}

.site-navigation .link-current {
    border-bottom: 2px solid #fb565a;
}

/* Стили для страницы каталога */

.page-title-wrapper {
    width: 100%;
    margin-bottom: 55px;

    background-color: #eeeeee;
}

.page-title {
    margin: 0;
    padding-top: 70px;
    padding-bottom: 110px;
    margin: 0 auto;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;

    text-align: center;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.filters {
    width: 260px;
}

.filters fieldset {
    border: none;
}

.filters legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.filters .price-legend {
    letter-spacing: 1px;
}

.price-filter-interval {
    line-height: 22px;
    text-transform: uppercase;
}

.price-filter-input {
    text-align: center;
    vertical-align: middle;

    border: none;
    background-color: #eeeeee;
}

.filters ul {
    list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #283136;

    opacity: 0.3;
}

.filter-button {
    color: #000000;
    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    color: rgba(0, 0, 0, 0.3);

    background-color: #d5d5d5;
}

.catalog {
    width: 760px;
}

.catalog-header {
    display: flex;
    margin-bottom: 50px;
}

.catalog-title {
    margin: 0;
    padding: 0;
    width: 160px;
    margin-right: 240px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
}

.sort-type-list,
.sort-direction-list {
    list-style: none;
    line-height: 20px;
}

.sort-type-list {
    margin: 0;
    padding: 0;
    width: 280px;
}

.sort-direction-list {
    margin: 0;
    padding: 0;
    width: 60px;
    margin-left: auto;
}

.sort-type-link,
.sort-direction-link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.sort-type-link:hover,
.sort-type-link:focus,
.sort-direction-link:hover,
.sort-direction-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-type-link:active,
.sort-direction-link:active,
.sort-type-current,
.sort-direction-current{
    color: #000000;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    list-style: none;
}

.catalog-item {
    width: 360px;
    margin-bottom: 30px;
}

.catalog-item-description h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.catalog-item-title {
    color: #000000;
}

.catalog-item-description p {
    line-height: 18px;
    text-align: center;
}

.catalog-item-button,
.catalog-item-button:active {
    color: #ffffff;
}

.pagination-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-item a {
    line-height: 18px;
    color: #000000;
    
    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
}

.pagination-item-current {
    background-color: transparent;
    border: 3px solid #dbdbdb;
}


